{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bidder">
    <title>Bidders</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style> 
</style>

<body>

<!-- new stuff-->
{% for items in itemsOnSale %}
<div class="container" style="border:1px solid #cecece;">
  <div class="row">
      <div class="col-sm-6"><img src="{{items.image}}" class="card-img-top" alt="..."></div>
      <div class="col-sm-6">
        <h5 class="card-title">{{items.name}}</h5>
        <p class="card-text">{{items.description}}</p>
        <a href="{{url_for('manage.manageItem', id=items.id)}}" class="btn btn-primary">Select Bidder</a>

        {% if items.availability == 0 %}
        <div class="alert alert-danger" role="alert" style="width: 118px;">
        Sold
        </div>
        {% endif %}
        
        {% if items.availability == 1 %}
        <div class="alert alert-success" role="alert" style="width: 118px;">
          Available
          </div>
        {% endif %}
        
      </div>
  </div>
</div>
{% endfor %}
<!-- end it-->

</body>
{% endblock %}